#first{
background-color: #FAF1E6;
}
.first-heading{
  
}
#second{
  background-color: #FDFAF6;
}
.card-body{
  background-color: #FAF1E6;
  text-align: left;
  height: 400px;
}

#third{
  background-color: #E4EFE7;
}

#fourth{
  background-color: #99BC85;

}
